@import "src/style/mixin";

.btn{
  height: 34px;

  &.MuiButton-root{
    @include font(16px,26px);
    box-shadow: none;
    border-radius: 80px;
    text-align: center;
    text-transform: none;
    color: rgba(0, 0, 0, 0.87);
    white-space: normal;

    &.Mui-disabled{
      color: #FFFFFF;
      background-color: #B4B4B4;
    }

    &:hover{
      background-color: #FFE302;
    }
  }
}

