@import "src/style/mixin";

.card-container {
  border-radius: 10px;
  box-sizing: border-box;

  .card-img{
    height: 70px;
    width: 70px;
    border-radius: 50%;
    margin: 20px auto;
  }

  .description{
    padding: 0;

    .description__tooltip{
      padding: 0;
      cursor: pointer;
      @include font(16px, 26px);
    }

    &:last-child,:first-child{
      margin: 20px;
      padding: 0px;
    }
  }
}
