@import "src/style/mixin";

.banner-container{
  min-height: calc(100vh - 60px);
  background-image: url("../../../assets/img/banner.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;

  .banner-container__fon{
    text-align: center;
    @include flex(center,center);
    width: 100%;
    color: #FFFFFF;
    min-height: calc(100vh - 60px);
    background-color:rgba(0, 0, 0, 0.5);

    .banner-text{
      padding: 0 10px 0 10px;
      max-width: 380px;
      width: 100%;
    }
  }
}
