@import "src/style/mixin";

.banner-container{
  height: 650px;
  background-image: url("../../../assets/img/banner.webp");
  background-position: 50% 80%;
  background-repeat: no-repeat;
  background-size: 220%;

  .banner-container__fon{
    text-align: center;
    @include flex(center,center);
    width: 100%;
    color: #FFFFFF;
    height: 100%;
    background-color:rgba(0, 0, 0, 0.5);

    .banner-text{
      padding: 0 10px 0 10px;
      max-width: 380px;
      width: 100%;
      height: 323px;
      p{
        margin: 21px 0 32px 0;
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  .banner-container{
    background-image: url("../../../assets/img/Baner-1024.jpg");
    background-position: center;
    background-size: contain;
  }

}
