@import "src/style/mixin";

.users-container{
  margin-top: 140px;
  @include flex(center,center);
  flex-direction: column;

}

@media screen and (max-width: 1024px) {
  .users{
    margin: 0 60px;
  }
}
