@import "src/style/mixin";

.nav-container{
  background-color: #FFF;
  .nav{
    @include flex(space-between,center);
    height: 60px;

    .logo{
      @include flex(flex-start,center);

      span{
        margin-left: 5px;
      }
    }


    .btn-block a{
      width: 100px;
      height: 32px;
      display: inline-block;
    }
    .btn-block a:first-child{
      margin-right: 10px;
    }
  }


}
@media screen and (max-width: 1024px) {
  .nav-container{
    padding: 0 60px;
  }
}
@media screen and (max-width: 768px) {
  .nav-container{
    padding: 0 32px;
  }
}
@media screen and (max-width: 360px) {
  .nav-container{
    padding: 0 16px;
  }
}
