@import "src/style/mixin";

.sign-up-container{
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 140px 0 100px 0;

  .sign-up-container__inputs{
    .css-pe71c0-MuiInputBase-root-MuiOutlinedInput-root{
      @include font(16px, 26px);
    }

    .css-dmmspl-MuiFormGroup-root{
      width: 380px;
      @media (max-width: 600px){
        width: 320px;
      }
    }

    .css-1rv3ei8-MuiFormControl-root-MuiTextField-root:nth-child(2){
      margin: 50px 0 50px 0;
    }

    .css-1rv3ei8-MuiFormControl-root-MuiTextField-root:first-child{
      margin-top: 50px ;
    }

    .css-395wrf-MuiFormLabel-root-MuiInputLabel-root{
      color: #7E7E7E;
    }

    .css-yhypab-MuiFormLabel-root-MuiInputLabel-root.Mui-focused{
      color: #7E7E7E;
    }

    .MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
      border-color: #D0CFCF;
    }

    .label-phone{
      color: #7E7E7E;
      margin: 4px 0  25px 14px;
    }
  }

  .upload{
    margin: 50px 0 50px 0;
    display: flex;

    .upload__text-field{
      width: 100%;

      .css-1wc848c-MuiFormHelperText-root.Mui-error {
        color: #d32f2f;
        position: absolute;
        bottom: -30px;
        left: -80px;
      }

      .Mui-disabled>fieldset{
        border-left: none;
        border-radius: 0 4px 4px 0 ;
      }
    }

    .upload__btn{
      max-height: 56px;
      border: 1px solid #000000;
      border-radius: 4px 0 0 4px;
      color: #000000;
      @include font(16px, 26px);
      text-transform: none;
      &:hover{
        background-color: inherit;
      }
    }
  }

  .upload__input{
    @include font(16px, 26px);
    color: #7E7E7E;
    border-left: none;
  }
}
