@import "src/style/mixin";

.sign-up-container{
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 140px 0 100px 0;

  .sign-up-container__inputs{
    width: 380px;
    @media (max-width: 600px){
      width: 320px;
    }

    .MuiInputBase-rootm, .MuiInputLabel-root{
      @include font(16px, 26px);
      line-height: initial;
    }

    .sign-up__input{
      &:nth-child(2){
        margin: 50px 0 50px 0;
      }

      &:first-child{
        margin: 50px 0 0 0;
      }

      &:nth-child(3){
        margin:  0;
      }
    }

    label.Mui-focused{
      color: #7E7E7E;
    }
.MuiInputBase-input{

  padding: 14px 16px;
}

    .MuiOutlinedInput-root{
      height: 54px;
      &.Mui-focused fieldset{
        border-color: #D0CFCF;
      }
    }

    .label-phone{
      color: #7E7E7E;
      margin: 4px 0  25px 14px;
    }
  }

  .upload{
    margin: 50px 0 50px 0;
    display: flex;

    .upload__text-field{
      width: 100%;


      .MuiFormHelperText-root {
        color: #d32f2f;
        position: absolute;
        bottom: -30px;
        left: -80px;
      }

      .Mui-disabled>fieldset{
        border-left: none;
        border-radius: 0 4px 4px 0 ;
      }
    }

    .upload__btn{
      max-height: 56px;
      border: 1px solid #000000;
      border-radius: 4px 0 0 4px;
      color: #000000;
      @include font(16px, 26px);
      text-transform: none;
      &:hover{
        background-color: inherit;
      }
    }
  }

  .upload__input{
    @include font(16px, 26px);
    color: #7E7E7E;
    border-left: none;
  }
}

